.container{
  display:flex;
  flex-wrap: wrap;  
  justify-content: center;
  align-items: space-between;
  flex-direction:;
}

.element {
  width: 100px;
  height : 100px;
  background-color: #ffff00;
  margin: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 5ms;
}

.element:hover {
  transition: 5ms;
  background-color: green;
}